@mixin for-small {
  @media (max-width: 640px) {@content;}
}

@mixin for-medium {
  @media (max-width: 768px) {@content;}
}

@mixin for-large {
  @media (min-width: 1024px) {@content;}
}

@mixin for-xl {
  @media (min-width: 1280px) {@content;}
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-units($unit, $min-size, $max-size, $min-vw: 850px, $max-vw: 1200px) {
  
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-size);
  $u4: unit($max-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
    #{$unit}: $min-size;
      @media screen and (min-width: $min-vw) {
        #{$unit}: calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        #{$unit}: $max-size;
      }
    }
  }
}