@import 'includes/mixins';
@import 'includes/typography';
@import 'includes/spinner';

body {
  font-family: "open_sanslight";
  color: gray;
  background: silver;
  h1 {
    font-family: "open_sanslight_italic"
  }

  @include for-small {
    color: red;
  }
}


li.icon {
  img {
    filter: invert(1)
  }
}